<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <WebRequestFactory type="Sitecore.CES.Client.WebRequestFactory, Sitecore.CES" 
                   set:type="Sitecore.Support.CES.Client.WebRequestFactory, Sitecore.Support.99444" />
    
    <settings>
      <!--Set here the proxy server you use for the Sitecore Geolocation IP requests. Set the hostname and post like http://localhost:8080-->
      <setting name="Proxy.Server.Connection.String" value="http://localhost:8080" />
      <setting name="Proxy.Server.Username" value="username" />
      <setting name="Proxy.Server.Password" value="password" />
    </settings>
  </sitecore>
</configuration>
